/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    /* margin: 0;
    padding: 0;  */
    scroll-behavior: smooth;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

}

.fa-solid {
    color: var(--main-color);
}

.fa-black{
    color:black;
}

.fa-white{
    color: white;
}
 /********************* Header *********************/         
.header-accueil{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin:0px 0px 30px 0px;
    height: 79px;
}

.header-accueil figure{
    margin-left: 0;
    margin-right: 0;
}

.header-logo img{
    width: 120px;
}

.header-presentation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 35px;
}

.header-presentation h1{
    margin: 0px;
    font-family: Raleway;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.header-presentation p{
    margin: 0px;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-nav{
    display:inline;
    padding: 30px;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-nav a:hover{
    color: var(--main-color);
    border-top: solid 4px;
    padding-top: 20px;
}

/********** containeur de recherche et filtres **********/
.recherche-filtre{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}                 

/************* formulaire de recherche ****************/
.conteneur-formulaire{
    display: flex;
    width: 377px;
    height: 49px;
    align-items: center;
}

.formulaire{
    display: flex;
    align-items: center;
}

.formulaire label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
}

.formulaire input{
    padding: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    border: 2px solid #F2F2F2;
    height: 49px;
    border-right: none;
}

.btn-desktop{
    background-color: var(--main-color);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    border: none;
    height: 49PX;
    padding: 15px 16px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    color: white;
}

.btn-mobile{
    display: none;
    width: 50px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: var(--main-color);
}
 /* ******************* filtres ********************/ 
 .container-filtre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
 }

 .container-filtre h2 {
    font-size: 18px;
    font-weight: 700;
 }

 .box-filtre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;
    border: var(--main-bg-color) solid 3px;
    border-radius: 25px;
    background-color: white;
    height: 50px;
    margin-left: 15px;
    letter-spacing: 1px;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer; 
 }

#filtre-hover{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

 #filtre-hover :hover{
    background-color: var(--filter-bg-color); 
 }

 .logo-filtre{
    display: flex;
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 50%;
 }

 /****************** information ***********$******** */
 .information{
    display: flex;
    align-items: center;
    height: 24px;
    gap: 10px;
    align-self: stretch;
 }
 .information p{
    font-size: 16px;
    font-weight: 400;
}

.logo-info{
    border-radius: 50%;
    border: solid 1px var(--main-bg-color);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/******************** balise principal *************************/
body {
    display: flex;
    justify-content: center;
}

header{
    padding: 0px 50px;
}
main{
    display: flex;
    padding: 0px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 600;
    font-size: 14px;
}

.neutral-star {
    color: var(--main-bg-color);
    width: 14.294px;
    height: 13.25px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#main-hebergements {
    display: flex;
    flex-direction: column;
    width: 66%;
    background-color: #F2F2F2;
    height: auto;
    padding: 30px;
}

.hebergements-resultat{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.hebergements-resultat a{
    position: relative;
    background-color: #fff;
    width: 30%;
    border-radius: 20px;
    margin-top: 30px; 
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
}

.hebergement-img img{
    width: 100%;
    height: 124px;
    padding: 5px;
    object-fit: cover; /* évite la déformation des images */
    border-radius: 20px 20px 0px 0px;
}

.card-content-hebergements{
    display: flex;
    padding: 0px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.card-txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.card-content-hebergements h3{
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.card-content-hebergements p{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.card-rating-hebergement{
    padding-bottom: 15px;
}

.hebergements-title h2{
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

#afficher_plus{
    padding: 30px 0px 0px 0px;
    font-size: 18px;
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 33%;
    padding: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-title h2{
    font-size: 22px;
    font-weight: 700;
}

.populaires-title i{
    width: 18px;
    height: 15.75px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    height: 144px;
}

.populaires-cards img {
    width: 33%;
    height: 144px;
    padding:  5px 0px 5px 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding: 10px 5px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.populaires-cards .card-rating {
    margin: 0;
}

.card-txt-pop{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
/***************activitée **************/
#main-activite{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 30px;
    padding: 30px;
    width: 100%;
    height: 80%;
}

.activite-title h2{
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.contener-card-actv{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.contener-card-actv a{
    width: 25%;
}

.card-activite{
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    height: 439px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
} 

.card-activite img{
    border-radius: 20px 20px 0px 0px;
    height: 380px;
    width: 100%;
    object-fit: cover;
}

.card-activite h3{
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    width: 100%;
    padding: 20px 19px;
}
/******************* footer *********************/
footer{
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--main-bg-color);
    margin-top: 35px;
    margin: 0px 50px;
}

.footer_colonne{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    width: 33%;
}

.footer_colonne h3{
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.liens_footer{
    margin-top: 15px;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
}

.liens_footer  :hover{
   font-weight: 500;
}

.box_lien{
    padding-left: 0;
    margin: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;
    }

   #main-hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 32%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
   /* filtre */
    .container-filtre{
        display: block;
    }

    .container-filtre h2{
        margin: 0px 0px 20px 0px;
    }

    .box-filtre{
        margin-left: 0px;
        margin-right: 15px;
    }

    .card-activite{
        height: 270px;
        object-fit: cover;
    }

    .card-activite img{
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

    footer{
        display: flex;
        justify-content: space-around;
        gap: 30px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    body{
        margin: 0;
    }
    /* header accueil */
    header{
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 45px;
    }

    .header-accueil{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-accueil figure{
        display: flex;
        justify-content: center;
        padding: 30px;
        margin: 0;
    }
    /* nav et nav hover */
    .box-nav{
        width: 100%;
    }

    .header-accueil ul{
        margin: 0;
        padding: 0;
        display: flex;
    }

    .item-nav{
        display: inline-flex;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        flex-direction: row;
        width: 50%;
        justify-content: center;
        padding: 0;
    }

    .item-nav a:hover{
        border-top: none;
        padding: 0;
    }

    .box-nav li :hover{
        color: var(--main-color);
        padding-bottom: 15px;
        border-bottom: solid 2px;
        padding-bottom: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    /* header présentation */
    .header-presentation{
        padding: 0px 20px;
    }
    


    main{
        padding: 0;
    }
    /* formulaire de recherche */
    .recherche-filtre{
        padding: 0px 20px;
    }

    .btn-desktop{
        display: none;
    }

    .btn-mobile{
        display: block;
        height: 49px;
        padding: 15px 16px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .btn-mobile i{
        font-size: 17px;
    }

    .formulaire input{
        border: 1px solid var(--main-bg-color);
        border-right:none ;
    } 
    
    .container-filtre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }

    .hebergements-and-populaires{
        flex-direction: column-reverse;
        gap: 15px;
        width: 100%;
    }

    .hebergements-and-populaires section{
        border-radius: 0px;
    }
/* populaire */
    .populaires{
        padding: 30px 20px;
        width: 100%;
    }

    .populaires-cards{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
    }

    .populaires-cards .card{
        margin-top: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }
    /* hebergement */
    #main-hebergements{
        padding: 20px;
        background-color: white;
    }

    .hebergements-resultat{
        display: flex;
        flex-direction: column;
    }

    .hebergements-resultat a{
        width: 100%;
        margin-top: 15px;
    }

    #afficher_plus{
        padding-top: 15px;
    }
    /* activité */
    .contener-card-actv{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .contener-card-actv a{
        width: 100%;
    }
    /* footer */
    footer{
        flex-direction: column;
        gap: 50px;
        margin: 0;
        padding: 30px;
    }

    .footer_colonne{
        width: 100%;
        padding: 0;
    }

}