/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    /* margin: 0;
    padding: 0;  */
    scroll-behavior: smooth;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

}

.fa-solid {
    color: var(--main-color);
}

.fa-black{
    color:black;
}
 /********************* Header *********************/         
.header-accueil{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin:0px 0px 30px 0px;
    height: 79px;
}

.header-accueil figure{
    margin-left: 0;
    margin-right: 0;
}

.header-logo img{
    width: 120px;
}

.header-presentation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 35px;
}

.header-presentation h1{
    margin: 0px;
    font-family: Raleway;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.header-presentation p{
    margin: 0px;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-nav{
    display:inline;
    padding: 30px;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.item-nav a:hover{
    color: var(--main-color);
    border-top: solid 4px;
    padding-top: 20px;
}

/********** containeur de recherche et filtres **********/
.recherche-filtre{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}                 

/************* formulaire de recherche ****************/
.conteneur-formulaire{
    display: flex;
    width: 377px;
    height: 49px;
    align-items: center;
}

.formulaire{
    display: flex;
    align-items: center;
}

.formulaire label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
}

.formulaire input{
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    border: 2px solid #F2F2F2;
    height: 49px;
    border-right: none;
}

.btn-desktop{
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    border: none;
    height: 49PX;
    padding: 15px 16px;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    color: white;
}

.btn-mobile{
    display: none;
    width: 50px;
    height: 100%;
    padding: 0 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: var(--principale);
}
 /* ******************* filtres ********************/ 
 .container-filtre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
 }

 .container-filtre h2 {
    font-size: 18px;
    font-weight: 700;
 }

 .box-filtre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;
    border: var(--main-bg-color) solid 3px;
    border-radius: 25px;
    background-color: white;
    height: 50px;
    margin-left: 15px;
    letter-spacing: 1px;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer; 
 }

#filtre-hover{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

 #filtre-hover :hover{
    background-color: var(--filter-bg-color); 
 }

 .logo-filtre{
    display: flex;
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 50%;
 }

 /****************** information ***********$******** */
 .information{
    display: flex;
    align-items: center;
    height: 24px;
    gap: 10px;
    align-self: stretch;
 }
 .information p{
    font-size: 16px;
    font-weight: 400;
}

.logo-info{
    border-radius: 50%;
    border: solid 1px var(--main-bg-color);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/******************** balise principal *************************/
body {
    display: flex;
    justify-content: center;
}

header{
padding: 0px 50px;

}
main{
    display: flex;
padding: 0px 50px;
flex-direction: column;
align-items: flex-start;
gap: 35px;
align-self: stretch;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 25px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#main-hebergements {
    display: flex;
    flex-direction: column;
    width: 66%;
    background-color: #F2F2F2;
    border-radius: 20px;
    height: auto;
}

.hebergements-resultat{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.hebergements-resultat a{
    position: relative;
    background-color: white;
    width: 30%;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 7px;
    padding: 7px; 
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.2);
}

.hebergement-img img{
    width: 100%;
    height: 120px;
    object-fit: cover; /* évite la déformation des images */
    border-radius: 16px 16px 0px 0px;
}

.card-content-hebergements{
    padding: 2px;
}

.hebergements-title h2{
    margin: 0;
}

#afficher_plus{
    padding: 20px 0px 0px 0px;
    font-size: 18px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 40px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}